@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* * {
    margin: 0;
    padding: 0;
} */

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    & video {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover; /* Ensures the video covers the entire div */
    z-index: -1; /* Places the video behind the content */
    filter: blur(5px) brightness(75%);
    
    }

}

.glass-container {
    grid-area: glass;
    padding: 2rem;
    background-color: rgba(255, 252, 224, 0);
    backdrop-filter: blur(15px);
    overflow: hidden;
    border-radius: 10px;
    border: 0.1px solid rgba(255, 255, 255, 0.484);
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.427));
}

.glass-inner {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: "Urbanist", sans-serif;
    color: white;
    & h1 {
        margin: 0;
        padding: 0;
        font-weight: 500;
    }
}

form {
    font-family: "Krona One", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    & input {
        outline: none;
        font-family: "Urbanist", sans-serif;
        font-size: xx-small;
        font-weight: 600;
        background-color: rgba(198, 198, 198, 0.255);
        padding: 10px;
        margin-bottom: 10px;
        width: 200px;
        border-radius: 5px;
        border: 1px solid rgb(255, 255, 255);
        &:focus {
            border: 1.5px solid rgb(255, 255, 255);
            background-color: #4f4f4f58;
            color: white;
        }
        &:hover {
            border: 1px solid rgb(0, 0, 0);
        }
        &::placeholder {
            color: black;
        }
    }
    & p {
        font-size: small;
        font-family: "Urbanist", sans-serif;
        & a {
            color: black;
            text-decoration: none;
            &:hover {
                color: rgb(0, 0, 0);
                text-decoration: underline;
            }
        }
    }
}
.submit {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        background-color: rgb(0, 0, 0);
        color: white;
        border: none;
    }
}

@media screen and (max-width: 35em) {
    /* .glass-container {
        width: 70%;
    }
    .glass-inner {
        width: 70%;
    }
    input {
        width: 90%;
    } */
}